<nav>
            
         <div class = "index-wrapper">
            <%= render 'post', post: @post%>
            <%if @post.user.id == current_user.id %>
                  <%= link_to image_tag("back_arrow.png", class: "backarrow"), posts_path %>
                  <%= link_to image_tag("edit_icon.png", class: "backarrow"), edit_post_path(@post) %>
                  <%=link_to image_tag("delete_icon.png", class: "backarrow"), post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }%>
            <%else%>
                   <%= link_to image_tag("back_arrow.png", class: "backarrow"), posts_path %>
            <%end%>

            

          
         </div>
         <br>  <br>  <br>
       
</nav>